<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉菜单</title>
    <link rel="stylesheet" href="../../static/bootstrap.min.css">
    <script src="../../static/jquery-1.11.0.js"></script>
    <script src="../../static/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="dropdown">
        <button class="btn btn-default" id="dlabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            下拉菜单
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>41</li>

        </ul>
    </div>
</div>
</body>
</html>