<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jquery-1.11.0.js"></script>
    <script src="../static/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <div class="dropdown">
        <div class="dropdown">
            <button class="btn btn-default" type="button" data-toggle="dropdown">
                下拉菜单
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right"  role="menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" role="menuitem">一</a></li>
                <li><a href="#" role="menuitem">二</a></li>
                <li><a href="#" role="menuitem">三</a></li>
                <li><a href="#" role="menuitem">四</a></li>

            </ul>
        </div>
    </div>

</div>

</body>
</html>