<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="input-group input-group-lg">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="username">
    </div>
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-addon">.00</span>
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon">^</span>
        <input type="text" class="form-control">
        <span class="input-group-addon">.00</span>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <!--<span class="input-group-btn">-->
                    <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
                    <!--<button class="btn btn-default" type="button">Go!</button>-->
                <!--</span>-->
                <!--<input type="text" class="form-control">-->

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">hello</a></li>
                        <li><a href="#">hello</a></li>
                        <li><a href="#">hello</a></li>
                        <li><a href="#">hello</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

<script src="../static/bootstrap.min.js"></script>
<script src="../static/jquery-1.11.0.js"></script>
</body>
</html>